@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
  }

  /* hero */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
      url(./hero-bcg.jpeg) center/cover no-repeat;
  }

nav{
    background-color: #fff;
    padding: 1rem 1.5rem;
}

.logo{
    height: 50px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav-toggle{
    font-size: 1.5rem;
    color: hsl(209, 61%, 16%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.links a {
    background: #fff;
    color: hsl(210, 22%, 49%);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    display: block;
    transition: all 0.3s linear;
    font-weight: bold;
    padding: 0.75rem 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}